/* todo -----------------------------------Что еще сделать?----------------------------
1. Адаптив для (360х640, 768х1024,1366х768)
2. Сделать нормальный стики нав блок
3. Подумать над формой
4. Сделать светлую и темную тему
5. Сделать переключение языков
6. Сделать красиво изученные технологии
7. Вместо навлинкс сделать кнопку с выезжающим меню


*/
* {
  margin: 0px;
  font-size: 35px;
  font-family: Lifehack;
  background-color: black;
  box-sizing: border-box;
  color: var(--orange);
}
:root {
  --orange: rgb(233, 174, 12);
}
@font-face {
  font-family: Lifehack;
  src: url(Fonts/lifehack-sans-3.otf);
}

/*! -----------------------------------Навигация----------------------------*/
.navigation {
  position: sticky;
  top: 0px;
}

.logo {
  /* todo --доделать когда будет картинка--*/
  width: 26px;
}
.navLinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  padding: 1%;
}

.navLink {
  color: var(--orange);
  text-decoration: none;
  font-size: 40px;
}
.navLink:hover {
  color: rgb(255, 0, 0);
  text-decoration: none;
}
/*! -----------------------------------Основная часть----------------------------*/
.mainContent {
  margin-left: 5%;
  margin-top: 3%;
  margin-right: 5%;
}
/*! -----------------------------------О коллекции----------------------------*/
.AboutCollection > h1 {
  text-align: center;
  font-size: 60px;
}
.AboutCollection > p {
  text-align: center;
  font-size: 40px;
}
/*! -----------------------------------Обо мне----------------------------*/
.AboutMe {
  margin-top: 50px;
}
.myInfo {
  display: flex;
  margin-left: 260px;
}
.AboutMe > h2 {
  text-align: center;
  font-size: 59px;
  margin-bottom: 30px;
}
.MyPhoto {
  height: 500px;
  border: 5px solid var(--orange);
  border-radius: 30px;
}
.aboutMeText {
  margin-left: 50px;
  margin-top: -13px;
}
.aboutMeText > div {
  margin-top: 9px;
  font-size: 40px;
}
/*! -----------------------------------Проекты----------------------------*/
.projects {
  margin-top: 50px;
}
.projects > h2 {
  font-size: 59px;
  text-align: center;
}
.projects > h3 {
  font-size: 59px;
  text-align: center;
  margin-top: 80px;
}
.projectList,
.projectsPreparing {
  display: flex;
  flex-wrap: wrap;
}
.project {
  border: 3px solid var(--orange);
  border-radius: 30px;
  padding: 15px;
  margin-left: 40px;
  width: 45%;
  margin-top: 40px;
}
.projectPreview,
.projectName {
  text-align: center;
}
.preview {
  height: 500px;
  width: 100%;
  object-fit: cover;
  border: 2px solid var(--orange);
  border-radius: 30px;
  overflow: hidden;
}
.previewChem {
  object-position: 0% 100%;
}

/*! -----------------------------------Предложить проект---------------------------*/
.offerNewProject {
  margin-top: 50px;
  text-align: center;
  display: block;
}
.offerNewProject > h2 {
  font-size: 59px;
}
.form > div {
  margin-top: 25px;
}
input,
textarea {
  border: 2px solid var(--orange);
  border-radius: 15px;
  max-width: 100%;
}
.submit {
  margin-right: 25px;
}
.submit:hover {
  color: red;
  cursor: pointer;
}
/*! -----------------------------------Контакты----------------------------*/
.contacts {
  margin-top: 50px;
}
.contacts > h2 {
  font-size: 59px;
  text-align: center;
}
.contactInfo {
  text-align: center;
}
.socialMedia {
  font-size: 40px;
}
.myGitHub {
  margin-left: 10%;
}
.copyRight {
  text-align: center;
}
/*! -----------------------------------Адаптив для 360х640----------------------------*/
@media screen and (max-width: 540px) {
  /*! -----------------------------------Навигация----------------------------*/
  .navLink {
    font-size: 20px;
  }
  /*! -----------------------------------Основная часть----------------------------*/
  .mainContent {
    margin-left: 5%;
    margin-top: 3%;
    margin-right: 5%;
  }
  /*! -----------------------------------О коллекции----------------------------*/
  .AboutCollection > h1 {
    font-size: 34px;
  }
  .AboutCollection > p {
    font-size: 20px;
  }
  /*! -----------------------------------Обо мне----------------------------*/
  .AboutMe {
    margin-top: 20px;
  }
  .myInfo {
    margin-left: 1%;
    flex-direction: column;
  }
  .AboutMe > h2 {
    font-size: 59px;
    margin-bottom: 20px;
  }
  .MyPhoto {
    height: 400px;
  }
  .aboutMeText {
    display: flex;
    flex-wrap: wrap;
    margin-left: 1%;
    margin-top: 13px;
  }
  .learnedTechnologiesList {
    width: 99vw;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    list-style-type: none;
  }
  .name,
  .age {
    width: 40vw;
  }
  .experience,
  .learnedTechnologies {
    width: 60vw;
  }
  .interestingInfo {
    font-size: 20px;
  }
  .aboutMeText > div {
    font-size: 25px;
  }
  .learntech {
    font-size: 20px;
    margin-left: 15px;
  }
  .html {
    margin-left: -40px;
  }
  /*! -----------------------------------Проекты----------------------------*/
.projects {
  margin-top: 20px;
}
.projects > h2 {
  font-size: 59px;
}
.projects > h3 {
  font-size: 49px;
  margin-top: 45px;
}
.project {
  padding: 8px;
  margin-left: 1%;
  width: 98%;
  margin-top: 20px;
}
.projectPreview,
.projectName {
  text-align: center;
}
.preview {
  object-position: 50% 100%;
  height: 400px;
}
.previewChem {
  object-position: 0% 100%;
}
/*! -----------------------------------Контакты----------------------------*/
.contacts {
  margin-top: 30px;
}
.contacts > h2 {
  font-size: 59px;
}
.socialMedia {
  font-size: 20px;
}
.myGitHub {
  margin-left: 1%;
}
.footerlinks{
  font-size: 25px;
}
}
